// Sofle Eyelash keymap
// Includes custom behaviors (hold-tap) and combos

#include <dt-bindings/zmk/keys.h>
#include "behaviors.dtsi"
#include "combos.dtsi"

#define L_BASE   0
#define L_FN     1
#define L_EXTRA  2

/ {
    keymap {
        compatible = "zmk,keymap";

        /* ---------- LAYER 0 (default) ---------- */
        default_layer {
            bindings = <
                &lp ESC GRAVE   &kp N1     &kp N2     &kp N3     &kp N4     &kp N5
                &kp TAB         &kp Q      &kp W      &kp E      &kp R      &kp T
                &kp CAPS        &kp A      &kp S      &kp D      &kp F      &kp G
                &kp LSHFT       &kp Z      &kp X      &kp C      &kp V      &kp B

                &kp N6     &kp N7     &kp N8     &kp N9     &kp N0     &kp MINUS
                &kp Y      &kp U      &kp I      &kp O      &kp P      &kp EQUAL
                &kp H      &kp J      &kp K      &kp L      &kp SEMI   &kp LBKT
                &kp N      &kp M      &kp COMMA  &kp DOT    &kp SLASH  &kp RBKT

                &kp LCTRL  &kp LALT   &kp LGUI   &kp ENTER
                &kp ENTER  &kp BSPC   &kp SPACE  &none

                &kp UP
                &kp LEFT   &kp ENTER  &kp RIGHT
                &kp DOWN
            >;
        };

        /* ---------- LAYER 1 (FN / NAV / F-KEYS) ---------- */
        layer1 {
            bindings = <
                &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6
                &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none

                &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
                &kp PG_UP &kp HOME &kp UP   &kp END  &kp BSPC &kp MINUS
                &kp PG_DN &kp LEFT &kp DOWN &kp RIGHT &none   &kp EQUAL
                &none     &none    &none    &none     &kp LBKT &kp RBKT

                &kp ESC   &none    &none    &none
                &none     &none    &none    &none

                &kp UP
                &kp LEFT  &kp ENTER &kp RIGHT
                &kp DOWN
            >;
        };

        /* ---------- LAYER 2 (EXTRA) ---------- */
        layer2 {
            bindings = <
                &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &none &none &none &none &none
                &none &none &none &none &none &none

                &kp F6 &kp F7 &kp F8 &kp F9  &kp F11 &kp F12
                &none  &none  &none  &none  &kp MINUS &kp EQUAL
                &none  &none  &none  &none  &kp LBKT  &kp RBKT
                &none  &none  &none  &none  &none     &none

                &none &none &none &none
                &none &none &none &none

                &none
                &none  &none &none
                &none
            >;
        };
    };
};
